<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/1navarro">Juan Navarro</a>. 
  </p>
  <br />
  <p>
    He is an aspiring Software Developer, currently attending Vanderbilt University's Web Development Boot Camp.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Juan Navarro</h2>
    <br />
    <p>
      An aspiring developer by day, and a parcel shipping ninja by night. After a decade in the business of boxes and tape, I have decided to shift gears towards Web Development - to design the tools and applications that can help you reach your wildest dreams. I can't wait to explore what is possible!
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />